.cart {
   // .cart__main
   &__main {}
}

.cart-main {
   // .cart-main__container
   &__container {
      display: grid;
      grid-template-columns: 1fr;      
      @include adaptiveValue("gap", 25, 20);
   
      @media (min-width:$tablet) {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   // .cart-main__form
   &__form {
      order: 2;      
      @media (min-width:$tablet) {
         order: 1;
      }      
   }

   // .cart-main__order
   &__order {
      order: 1;
      @media (min-width:$tablet) {
         order: 2;
      }
   }

   // .cart-main__submit
   &__submit {
      order: 3;
      @media (min-width:$tablet) {
         grid-column-start: 1;
         grid-column-end: 3;
      }      
   }
}

.form-personal {
   border-radius: rem(20);
   background-color: $bgColorBlue;
   @include adaptiveValue("padding-top", 20, 18);
   @include adaptiveValue("padding-bottom", 20, 18);
   @include adaptiveValue("padding-left", 15, 10);
   @include adaptiveValue("padding-right", 15, 10);
   @include adaptiveValue("font-size", 18, 16);
   line-height: math.div(18, 16);
   
   // .form-personal__title
   &__title {
      font-weight: 700;
      @include adaptiveValue("font-size", 22, 18);
      line-height: math.div(42, 36);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 20);
      }
   }

   // .form-personal__inputs
   &__inputs {}

   // .form-personal__item
   &__item {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("margin-bottom", 24, 20);
   }

   // .form-personal__label
   &__label {
      font-weight: 700;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 10, 7);
      }      
   }

   // .form-personal__input
   &__input {
      width: 100%;
      background: #fff;
      border: 1px solid #C4C4C4;
      border-radius: rem(7);
      @include adaptiveValue("font-size", 20, 18);
      line-height: math.div(20, 18);
      padding: rem(10) rem(15) rem(10) rem(15);
      &::placeholder {
         color: rgba(74, 74, 74, 0.5);
         @include adaptiveValue("font-size", 20, 18);
         line-height: math.div(20, 18); 
      }
      &:focus {
         outline: none;
         &::placeholder {
            color: rgba(74, 74, 74, 1);
         }
      }
   }
}

.form__error {
   color: $accentColorRed;
}

.form-order {
   border-radius: rem(20);
   background-color: $bgColorGrey;
   @include adaptiveValue("padding-top", 25, 20);
   @include adaptiveValue("padding-bottom", 25, 20);
   @include adaptiveValue("padding-left", 20, 18);
   @include adaptiveValue("padding-right", 20, 18);
   @include adaptiveValue("font-size", 18, 16);  
   // .form-order__title
   &__title {
      font-weight: 700;
      @include adaptiveValue("font-size", 22, 18);
      line-height: math.div(42, 36);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 24, 20);
      }
   }

   // .form-order__list
   &__list {}

   // .form-order__item {}
   &__item {
      &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 20);
      }
   }
}

.form-submit {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: rem(15);
   // .form-submit_sum

   &_sum {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: rem(10);
      font-size: rem(20);
      line-height: math.div(20, 18);
      @media (max-width:$mobileSmall){
         flex-direction: column; 
      }
   }

   // .form-submit_sum-lable
   &_sum-lable {}

   // .form-submit_sum-total
   &_sum-total {}

   // .form-submit_sum-value
   &_sum-value {
      font-weight: 700;
   }

   // .form-submit_sum-currency
   &_sum-currency {}

   // .form-submit__btn
   &__btn {}
}









